/* Styling for the feedback form */
.feedback {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color:#00cb87;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 20vh; /* Adjust the value to center vertically */
    display:block;
  }
  
  .feedback p {
    margin-bottom: 10px;
  }
 
  
  
  
 
  
  .feedback label img {
    width: 100px;
    height: 100px;
  
   
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    margin-right: 5px;
  }
  
  .feedback label img:hover {
    border-color: #000;
  }
  .submit {
  background-color: #616161;
  color: #fff;
    height: 41px;
    width: 100px;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
  }
  
  
  
